* {
    margin: 0;
    padding: 0;
}

html{
    height:100%;
}

body{
    height: 100%;
    font-family: "ヒラギノ角ゴ Pro";
    font-weight: 300;
    font-size: 105%;
    line-height: 35px;
    letter-spacing: 1px;
    color:#0D4951;
}

.btn{
    display: none;
}

.nav{
    overflow: hidden;
    background-color: #FF9B0B;
    width: 100vw;
    padding: 0.5vw;
    position: fixed;
    z-index: 3;
}
.nav ul{
    text-align:center;
}
.nav li{
    display: inline-block;
}
.nav a{
    display: block;
    text-decoration: none;
    color:#F3FFFF;
    padding: 1vh 2vw;
    background-color: #ff9b0b;
}
.nav a:hover{
    color:#FFE603;
}
header{
    background-image: url(img/アセット3.png);
    height:30vw;
    text-align: center;
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 100%;
}
header img{
    height: 15vw;
    margin: 10vw 0px;
}
.about{
    background-color: #f3ffff;
    height: auto;
    padding: 100px 15% 150px;
}

.about h2{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 800;
    font-size: 140%;
    text-align: center;
    padding-bottom: 40px;
    background-image: url(img/アセット25.png);
    background-repeat: no-repeat;
    background-position-y: 35px;
    background-position-x: center;
    background-size:100mm;
}
.bun{
    background-color: #e4f1f2;
    position: relative;
    width: 44vw;
    margin: 0 auto;
}
.bun p{
    padding:3vw;
}

.nayamu{
    width: 10vw;
    position: absolute;
    bottom:-80px;
    right:0;
}

.should{
    background-color: #e4f1f2;
    height: auto;
    padding: 100px 14%;
}
.should h2{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 800;
    font-size: 140%;
    margin-bottom: 50px;
    padding-left: 20px;
    border-left: 15px solid #ff9b0b;
}
.should h3{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 800;
    font-size: 120%;
    margin: 30px 0px 0px 0px;
}

.should p{
    margin:10px;
}

.detail{
    background-color: #f3ffff;
    height: auto;
    padding: 100px 15%;
}
.detail h2{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

.link{
    text-align: center;
    
}
.link2{
    display: inline-block;
    margin:7vw 5vw;
}

.link2 li{
    text-align: center;
    list-style: none;
}

.link2 a{
    text-decoration: none;
    display: inline-block;
    color:#F3FFFF;
    font-family: "ヒラギノ角ゴシック";
    font-weight: 600;
    font-size: 120%;
    background-color: #ff9b0b;
    box-shadow:inset 0px 0px 0px 2px #ff9b0b,inset 0px 0px 0px 3px #f3ffff;
    border-radius: 20px;
    padding: 12px 45px;
}

.link2 p{
    padding-bottom: 10px;
    line-height: 1.5em;
    text-align: center;
}

.link2 a:hover{
    background-color: #ffe603;
    box-shadow:inset 0px 0px 0px 2px #ffe603,inset 0px 0px 0px 3px #f3ffff;
    transition: 0.5s;
}

.pagetop{
    background-color: #f3ffff;
    height: auto;
    padding: 80px 100px;
    text-align: center;
}
.pagetop img{
    height: 90px;
}

.pagetop img:hover{
    opacity: 0.5 ;
}

footer{
    text-align: center;
    text-decoration: none;
    color: #f3ffff;
    background-color: #0D4951;
    padding: 30px auto;
}


@media screen and (max-width: 480px){
    body{
        font-size: 80%;
        line-height: 2em;
        letter-spacing: 1px;
    }

    .nav_toggle {
        display: flex;
        position: fixed;
        flex-flow: column;
        justify-content:space-around;
        right: 3vw;
        top: 1vw;
        bottom: 1vw;
        width: 8vw;
        height: 8vw;
        z-index:5;
        cursor: pointer;
    }
    .btn_line1{
        display: flex;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #f3ffff;
    }
    .btn_line2{
        display: flex;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #f3ffff;
    }
    .btn_line3{
        display: flex;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #f3ffff;
    }

    .open .btn_line1{
        transform: translateY(10px) rotate(-315deg);
        transition: 0.3s;
        }
    .open .btn_line2{
        opacity: 0;
        }
    .open .btn_line3{
        transform: translateY(-10px) rotate(315deg);
        transition: 0.3s;
        }

    .nav{
        height: 10vw;
        transition: 0.3s;
    }
    
    .nav ul{
        position: fixed;
        display: flex;
        width: 50%;
        height: 100%;
        padding-top: 10vw;
        right: 0;
        top:0;
        flex-direction: column;
        color: #f3ffff;
        background-color: #0D4951;
        right:-50%;
        transition: 0.3s;
    }
    .nav ul.open{
        right:0;
    }
    
    .nav li{
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all 0.3s;
    }
    .nav a{
        text-decoration: none;
        color:#F3FFFF;
        padding: 9vw;
        background-color: #0D4951;
    }
   
 
    header{
        background-image: url(img/アセット3.png);
        height:55vw;
        text-align: center;
        background-repeat: no-repeat;
        background-position:center;
        background-size: auto;
    }
    header img{
        height: 20vw;
        padding: 15vw 0px;
    }

    .about{
        padding: 50px 5% 20vw;
    }
    
    .about h2{
        font-size: 120%;
        text-align: center;
        background-position-y: 24px;
        background-size:60mm;
        padding-bottom: 20px;
    }
    .bun{
        position: unset;
        background-color: #f3ffff;
        width: 100%;
    }
    .bun p{
        display: inline;
        padding:0vw;
    }
    .nayamu{
        float: right;
        width: 25vw;
        height: 25vw;
        position: unset;
    }
    
    .should{
        background-color: #e4f1f2;
        height: auto;
        padding: 60px 10%;
    }
    .should h2{
        margin-bottom: 20px;
    }
    
    .detail{
        padding: 60px 10%;
    }
    .detail h2{
        font-size: 140%;
    }
    
    .link2{
        margin:5vw;
    }
    
    .pagetop{
        background-color:#f3ffff;
        height: 0;
    }
    .pagetop img{
        height: 60px;
        position: fixed;
        bottom: 50px;
        right: 16px;
    }
    
}