* {
    margin: 0;
    padding: 0;
}

html{
    height:100%;
}

body{
    height: 100%;
    font-family: "ヒラギノ角ゴ Pro";
    font-weight: 300;
    font-size: 105%;
    line-height: 35px;
    letter-spacing: 1px;
    color:#0D4951;
}
.btn{
    display: none;
}

nav{
    background-color: #FF9B0B;
    width: 100vw;
    height: 50px;
    position: fixed;
    overflow: hidden;
    z-index: 4;
}

nav ul{
    text-align:center;
}

nav li{
    display: inline-block;
}

nav a{
    display: block;
    text-decoration: none;
    color:#F3FFFF;
    padding: 1vh 2vw;
    background-color: #ff9b0b;
}

nav a:hover{
    color:#FFE603;
}

.process{
    padding: 120px 15% 70px;
    background-color: #e4f1f2;
    height: auto;
}

.title{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 800;
    font-size: 140%;
    margin-bottom: 5vw;
    padding-left: 20px;
    border-left: 15px solid #ff9b0b;
}

.subtitle{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 700;
    font-size: 130%;
    margin-bottom: 5px;
}

.pic{
    text-align: center;
    padding-top: 30px;
}
.pic img{
    width: 70%;
}

.role{
    padding: 70px 15%;
    background-color: #f3ffff;
    height: auto;
}

.box{
    display: flex;
    padding: 10px 0px 10px 20vw;
}

.box:nth-child(even) {
    flex-direction: row-reverse;
    padding: 10px 20vw 10px 0px;
}

.box:nth-child(even) h3 {
    text-align: left;
}

.txt h3{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 700;
    font-size: 120%;
    margin: 30px 0px 10px 0px;
    text-align: right;
}

.ex p{
    font-size: 80%;
    line-height: 25px;
    margin-right: 30%;
}
.cleansing{
    background-image: url(img/アセット17.png);
    background-repeat: no-repeat;
    background-size: 22vh;
    background-position: 50% 50%;
}
.sengan{
    background-image: url(img/アセット18.png);
    background-repeat: no-repeat;
    background-size: 22vh;
    background-position: 50% 50%;
}
.toner{
    background-image: url(img/アセット19.png);
    background-repeat: no-repeat;
    background-size: 22vh;
    background-position: 50% 50%;
}

.essence{
    background-image: url(img/アセット20.png);
    background-repeat: no-repeat;
    background-size: 22vh;
    background-position: 50% 50%;
}

.milk{
    background-image: url(img/アセット21.png);
    background-repeat: no-repeat;
    background-size: 22vh;
    background-position: 50% 50%;
}

.cream{
    background-image: url(img/アセット22.png);
    background-repeat: no-repeat;
    background-size: 22vh;
    background-position: 50% 50%;
}

.custom{
    padding: 50px 0px 90px;
    background-color: #f3ffff;
    height: auto;
}

.custom2{
    display: flex;
    justify-content: center;
    flex-direction:row-reverse;
}

.custom2 img{
    display: flex;
    width: 13%;
    height: 13%;
}

.customp{
    display: flex;
    flex-direction:column;
    margin-left: 2vw;
}

.customp h3{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 700;
    font-size: 120%;
}
.pc_hid{
    display: none;
}


.component{
    padding: 90px 10%;
    background-color: #e4f1f2;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.component h2{
    margin-bottom: 30px;
}

.box2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
}

.box3{
    width: 250px;
    height:240px;
    text-align: center;
    margin:20px;
    border: solid #ff9b0b 2px;
    background-color: #f3ffff;
}

.txt2 h3{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 700;
    font-size: 120%;
    color: #f3ffff;
    line-height: 50px;
    background-color: #ff9b0b;
}

.box3 p{
    padding:20px 20px 0vw;
    text-align: justify;
}

.pagetop2{
    background-color: #e4f1f2;
    height: auto;
    padding: 80px 100px;
    text-align: center;
    align-content: stretch;
}
.pagetop2 img{
    height: 90px;
}
.pagetop img:hover{
    opacity: 0.5 ;
}

footer{
    text-align: center;
    text-decoration: none;
    color: #f3ffff;
    background-color: #0D4951;
    padding: 30px auto;
}


@media screen and (max-width: 480px){
    
    body{
        font-size: 80%;
        line-height: 2em;
        letter-spacing: 1px;
    }
    
    .nav_toggle {
        display: flex;
        position: fixed;
        flex-flow: column;
        justify-content:space-around;
        right: 3vw;
        top: 1vw;
        bottom: 1vw;
        width: 8vw;
        height: 8vw;
        z-index:5;
        cursor: pointer;
    }
    .btn_line1{
        display: flex;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #f3ffff;
    }
    .btn_line2{
        display: flex;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #f3ffff;
    }
    .btn_line3{
        display: flex;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #f3ffff;
    }

    .open .btn_line1{
        transform: translateY(10px) rotate(-315deg);
        transition: 0.3s;
        }
    .open .btn_line2{
        opacity: 0;
        }
    .open .btn_line3{
        transform: translateY(-10px) rotate(315deg);
        transition: 0.3s;
        }

    .nav{
        height: 10vw;
        transition: 0.3s;
    }
    
    .nav ul{
        position: fixed;
        display: flex;
        width: 50%;
        height: 100%;
        padding-top: 10vw;
        right: 0;
        top:0;
        flex-direction: column;
        color: #f3ffff;
        background-color: #0D4951;
        right:-50%;
        transition: 0.3s;
    }
    .nav ul.open{
        right:0;
    }
    
    .nav li{
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all 0.3s;
    }
    .nav a{
        text-decoration: none;
        color:#F3FFFF;
        padding: 9vw;
        background-color: #0D4951;
    }
    
    .process{
        padding: 90px 5% 50px;
    }
    
    .title{
        font-size: 140%;
        margin-bottom: 50px;
        padding-left: 20px;
        border-left: 15px solid #ff9b0b;
    }
    
    .subtitle{
        font-size: 120%;
        margin-bottom: 0px;
    }

    .pic{
        padding-top: 8vw;
    }
    .pic img{
        width: 100%;
    }
    
    .role{
        padding: 50px 5%;
    }
    
    .box{
        padding: 50px 0px 50px 8vw;
    }
    
    .box:nth-child(even) {
        padding: 10px 8vw 10px 0px;
    }
    
    .txt h3{
        margin: 10px 0 5px;
    }
    .ex p{
        font-size: 50%;
        line-height: 20px;
    }
    .cleansing{
        background-size: 35%;
        background-position: center;
    }
    .sengan{
        background-size: 35%;
        background-position: center;
    }
    .toner{
        background-size: 35%;
        background-position: center;

    }
    
    .essence{
        background-size: 35%;
        background-position: center;
    }
    
    .milk{
        background-size: 35%;
        background-position: center;
    }
    
    .cream{
        background-size: 35%;
        background-position: center;
    }
    
    .custom{
        padding: 0px 5% 50px;
    }
    
    .custom2{
        display: flex;
        flex-direction:column-reverse;
        align-items:center
    }
    
    .custom2 img{
        width: 40%;
        display: flex;
    }
    
    .customp{
        display: flex;
        flex-direction:none;
        justify-content: center;
        margin-left: unset;
        background-color: #e4f1f2;
        padding: 1vw 3vw 5vw;
        border-radius: 30px;
    }
    
    .customp h3{
        font-family: "ヒラギノ角ゴシック";
        font-weight: 700;
        font-size: 120%;
        text-align: center;
        margin: 10px 0 5px;
    }
    .pc_hid{
        display: block;
    }

    .customp p{
        margin:0 auto;
        font-size:90%;
    }
    
    
    .component{
        padding: 50px 5%;
    }
    
    .component h2{
        font-size: 120%;
        margin-bottom: 0px;
    }
    
    .box3{
        width: 40%;
        height: 180px;
        margin:4%;
    }
    
    .txt2 h3{
        font-size: 100%;
        line-height: 30px;
    }
    
    .box3 p{
        padding:11% 6% 0vw;
        font-size: 90%;
        line-height: 2em;
        text-align: justify;
    }
    
    .pagetop2{
        background-color:#e4f1f2;
        height: 0;
    }
    .pagetop2 img{
        height: 60px;
        position: fixed;
        bottom: 50px;
        right: 16px;
    }
}
