* {
    margin: 0;
    padding: 0;
}

html{
    height:100%;
}

body{
    height: 100%;
    font-family: "ヒラギノ角ゴ Pro";
    font-weight: 300;
    font-size: 105%;
    line-height: 35px;
    letter-spacing: 1px;
    color:#0D4951;
}

nav{
    background-color: #FF9B0B;
    width: 100vw;
    height: 50px;
    position: fixed;
    overflow: hidden;
}

nav ul{
    text-align:center;
}

nav li{
    display: inline-block;
}

nav a{
    display: block;
    text-decoration: none;
    color:#F3FFFF;
    padding: 1vh 2vw;
    background-color: #ff9b0b;
}

nav a:hover{
    color:#FFE603;
}

.everyday{
    padding: 150px 15% 100px;
    background-color: #f3ffff;
    height: auto;
}

.title{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 800;
    font-size: 140%;
    margin-bottom: 50px;
    padding-left: 20px;
    border-left: 15px solid #ff9b0b;
}
.block{
    font-family: "ヒラギノ角ゴシック";
    color:#F3FFFF;
    font-size: 26px;
    background-color: #ff9c0b;
    width: 160px;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    margin: 50px auto 20px;
}
.box{
    display: flex;
    padding: 3vw;
}

.box:nth-child(even) {
    flex-direction: row-reverse;
}
.box:nth-child(even) img {
    width: 25vh;
    margin: 30px 15vw 0 0;
    justify-content: right;
}
.box:nth-child(even) h3 {
    text-align: left;
}

.txt h3{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 700;
    font-size: 120%;
    margin: 30px 0px 10px 0px;
    text-align: right;
}
.box img {
    display: flex;
    width: 25vh;
    margin: 30px 0 0 15vw ;
    justify-content:left;
  }

.season{
    padding: 100px 15%;
    background-color: #e4f1f2;
    height: auto;
    margin: 0 auto;
}

.box2{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    position: center;
    background-image: url(img/アセット15.png);
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position: center;
}

.box3{
    width: 30vw;
    padding: 2vw;
    text-align: center;
    margin:0 auto;
}

.txt2 h3{
    font-family: "ヒラギノ角ゴシック";
    font-weight: 700;
    font-size: 120%;
    margin-bottom: 5px;
}

.box3 p{
    text-align: left;
}

.box3 img{
    height: 11vw;
}

.pagetop2{
    background-color: #e4f1f2;
    height: auto;
    padding: 80px 100px;
    text-align: center;
    align-content: stretch;
}
.pagetop2 img{
    height: 90px;
}

footer{
    text-align: center;
    text-decoration: none;
    color: #f3ffff;
    background-color: #0D4951;
    padding: 30px auto;
}


@media screen and (max-width: 480px){

    body{
        font-size: 80%;
        line-height: 2em;
        letter-spacing: 1px;
    }
    
    nav{
        background-color: #FF9B0B;
        width: 100vw;
        height: 50px;
        position: fixed;
        overflow: hidden;
    }
    
    nav ul{
        text-align:center;
    }
    
    nav li{
        display: inline-block;
    }
    
    nav a{
        display: block;
        text-decoration: none;
        color:#F3FFFF;
        padding: 1vh 2vw;
        background-color: #ff9b0b;
    }
    
    nav a:hover{
        color:#FFE603;
    }
    
    .everyday{
        padding: 90px 5% 20px;
        margin: 0;
    }
    
    .title{
        font-size: 140%;
    }
    .block{
        font-size: 130%;
        width: 150px;
        padding: 5px;
    }
    .box{
        padding-bottom: 5vw;
    }
 
    .box:nth-child(even) img {
        width: 16vh;
        margin: 70px 0vw 0 2vw;
    }

    .txt{
        text-align:justify;
    }
    
    .txt h3{
        font-family: "ヒラギノ角ゴシック";
        font-weight: 700;
        font-size: 120%;
        margin: 30px 0px 10px 0px;
        text-align: right;
    }
    .box img {
        display: flex;
        width: 16vh;
        margin: 70px 2vw 0 0vw ;
        justify-content:left;
      }
    
    .season{
        padding: 20px 0%;
        background-color: #e4f1f2;
        height: auto;
        margin: 0;
    }

    .season img {
        display: none
    }

    .box2{
        display: flex;
        flex-wrap:nowrap;
        flex-direction: column;
        align-content:unset;
        position:unset;
        background-image: unset;
        padding: 0vw;
    }
    
    .box3{
        display: flex;
        width: auto;
        text-align: right;
        margin:0 auto;
        padding: 0;
    }
    
    .txt2 h3{
        font-family: "ヒラギノ角ゴシック";
        font-weight: 700;
        font-size: 120%;
        margin-bottom: 5px;
    }
    
    .box3 p{
        text-align: justify;
    }

    .spring{
        background-image: url(img/アセット26.png);
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: -10vw 10vw;
        order:1;
        padding:20px 5% 15vw 15vw;
    }
    
    .summer{
        background-image: url(img/アセット27.png);
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: 70vw 0vw;
        order: 2;
        padding:0 15vw 15vw 5%;
    }
    .winter{
        background-image: url(img/アセット29.png);
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: 70vw 7vw;
        order: 4;
        padding:0 15vw 15vw 5%;
    }
    .autumn{
        background-image: url(img/アセット28.png);
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: -5vw 7vw;
        order: 3;
        padding:0 5% 15vw 15vw;
    }
    .summer h3,
    .winter h3{
        text-align: left;
    }
    .pagetop2{
        background-color:#e4f1f2;
        height: 0;
    }
    .pagetop2 img{
        height: 60px;
        position: fixed;
        bottom: 50px;
        right: 16px;
    }
}